body{
	margin: 0;
	background-color: #FE5F55;
}

head{
	background-color: #FE5F55;
	text-align: center;
}

img{
	border-radius: 170px;
	width: 300px;
	border:15px solid #663a82;
}

h1, h2{
	font-family: 'Caveat', cursive;
	padding-top:50px;
	padding-bottom: 50px;
	text-align: center
}

body p{
	font-family: arial;	
	text-align:center;
}

body br{
	padding: 50px;
}